*#dm *.dmBody div.u_Features
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_pa_7807745
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_pa_7231396
{
	background-color:rgba(255,255,255,1) !important;
	background-repeat:no-repeat !important;
	background-image:url(../../../le-cdn.website-editor.net/md/and1/dms3rep/multi/opt/117472-1920w.jpg) !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1810455608
{
	important:true !important;
}
*#dm *.dmBody a.u_1996956654
{
	border-color:rgba(0,0,0,1) !important;
}
*#dm *.dmBody a.u_1996956654 span.text
{
	color:rgba(0,0,0,1) !important;
}
.hours-sticky
{
	position:fixed !important;
	bottom:0 !important;
	left:0 !important;
	width:100% !important;
	background:#2C3E50 !important;
	color:white !important;
	text-align:center !important;
	padding:12px !important;
	font-size:13px !important;
	z-index:998 !important;
}
@media (min-width:768px) {
  .hours-sticky { display:none !important; }
}
*#dm *.dmBody *.u_1816298127
{
	width:100% !important;
}
li
{
	margin-bottom:0.6em !important;
	line-height:1.6 !important;
}
p
{
	margin-bottom:1em !important;
	line-height:1.7 !important;
}
h2,h3
{
	margin-top:1.2em !important;
	margin-bottom:0.8em !important;
}
ul
{
	margin-bottom:1.3em !important;
	padding-left:2em !important;
}
*#dm *.dmBody *.u_undefined::after
{
	margin-top:12px !important;
}
*#dm *.dmBody *.u_1160724733::after
{
	margin-top:0px !important;
}
*#dm *.dmBody *.u_1810455608
{
	width:100% !important;
}
separatorHomeCss{color:red !important}*#dm *.dmBody div.u_Features
{
	padding-top:50px !important;
	padding-bottom:30px !important;
}
*#dm *.dmBody div.u_pa_7807745
{
	padding-top:60px !important;
	padding-bottom:30px !important;
}
*#dm *.dmBody div.u_pa_7231396
{
	padding-bottom:50px !important;
	padding-top:50px !important;
	margin-left:0px !important;
	padding-left:40px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
	padding-right:40px !important;
	width:auto !important;
}
*#dm *.dmBody a.u_1996956654
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:10px !important;
	padding-left:7px !important;
	padding-bottom:10px !important;
	min-height:46px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:7px !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1318298316
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	height:auto !important;
	padding-top:3px !important;
	padding-left:40px !important;
	padding-bottom:3px !important;
	min-height:auto !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1842450055
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	height:auto !important;
	padding-top:10.5px !important;
	padding-left:40px !important;
	padding-bottom:10.5px !important;
	min-height:auto !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1816298127
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	min-height:auto !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1978512734
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:40px !important;
	padding-bottom:0px !important;
	min-height:auto !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1810455608
{
	important:true !important;
	width:calc(100% - 0px) !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:auto !important;
	padding-right:0px !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	position:relative !important;
	min-height:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	min-width:25px !important;
	text-align:start !important;
	display:block !important;
}
